<div class="agendas">
  <h1>Agendas</h1>
  <div class="ui segments">
    <div class="ui active centered inline loader" *ngIf="loading"></div>
    <div *ngFor="let item of agendas" class="agenda-list ui segment">
      <div><strong>{{ item.title }}:</strong> <a [href]="item.link" target="_blank" class="date">{{ item.date }}</a></div>
    </div>
  </div>
  <p *ngIf="!loading">
    Data for this page is scraped by a Lambda function 
    (<a href="https://github.com/dkmullen/agendafinder" target="_blank">review on Github</a>) 
    on AWS which is triggered when this page calls
    the API at the AWS API Gateway.
  </p>
</div>
